.about{
    margin-top: 50px;

    &__cart{
        
        &-container{
            margin-top: 40px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

        }
        background-color: $white;
        border: 1px solid #dedede;
        text-align: center;
        padding: 20px 10px;
        border-radius: 15px;
        min-width: 15rem;

        &:hover{
            box-shadow: 9px 10px 20px #00000021;
        }

    }
}