// color-variables
$color-grey: #999;
$color-grey-1: #777;
$color-grey-2: #555;
$black: #000;

$head-background: #F3F3F3;
$text: #575757;
$blue-background: #4769F1;
$white: #fff;

$grey-dark-4: #0c0c0c;
$grey-dark: #575757;
$grey-dark-2: #414141;
$grey-dark-3: #2a2a2a;

$bp-largest: 75em; //1200px
$bp-large: 56.25em; //900px
$bp-medium: 50em; //800px
$bp-small: 31.25em; //500px
$bp-smallest: 23.75em; //380px
$bp-mini: 17.5em; //280px

$color-white: #ffffff;

$color-yellow: #f5c544;
$color-green: #81bc06;
$color-orange: #ed7630;
$color-primary: #4667f1;
